{% extends 'auctions/layout.html' %}
{% block body %}
    <div>
        <h2>Listing: {{ listing.title }}</h2>
        {% if listing.image %}
            <img src="{{ listing.image.url }}">
        {% else %}
        {% endif %}
        <p>{{ listing.description }}</p>
        {% if listing.close_bid == False %}
            <a href="{% url 'watchlist' listing.id %}">Add to watchlist</a>
        {% else %}
        {% endif %}
        {% if listing.close_bid == False %}
            <form method="post" action="{% url 'get_bid' listing.id %}">
                {% csrf_token %}
                <h2>${{ listing.prices }} last bid placed by {{ listing.bid_author }}</h2>
                <input type="number" name="bid" placeholder="Bid">
                <input type="submit" value="Place Bid">
                {% if listing.creator == request.user %}
                    <a href="{% url 'close' listing.id %}">Close this bid</a>
                {% endif %}
            </form>
        {% else %}
            {% if listing.bid_author == request.user.username %}
                <h2>You have won bid!</h2>
            {% else %}
                <h2>{{ listing.bid_author }} has won bid!</h2>
            {% endif %}
        {% endif %}
        <h2>Details</h2>
        <ul>
            <li>Listed by: {{ listing.creator }}</li>
            <li>Category: {{ listing.category }}</li>
        </ul>
        {% if listing.creator == request.user %}
            <a href="{% url 'delete-listing' listing.id %}">Delete listing</a>
        {% endif %}
        <hr>
        <div>
            <form method="post" action="{% url 'comment' listing.id %}">
                {% csrf_token %}
                {{ comments_form }}
                <input type="submit" value="Send">
            </form>
        </div>
        <div>
            {% for comment in comments %}
                <hr>
                <div>
                    <p>@{{ comment.author }}</p>
                    <p>{{ comment.body }}</p>
                    <p>{{ listing.created }}</p>
                    {% if comment.author == request.user %}
                    <a href="{% url 'delete-comment' comment.id %}">Delete comment</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
